{% extends "admin/admin_nav.html" %}
{% block content %}

      <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Hasil Rekomendasi - {{id_rekomendasi}}</h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid w-100">
        <!-- Info boxes -->
        <div class="col-12">
            <div class="row">
                <table id="example1" class="table table-bordered">
                    <thead>
                        <th>Username</th>
                        <th>Anime ID</th>
                        <th>Title</th>
                        <th>Gambar</th>
                        <th>Rating Prediksi</th>
                    </thead>
                    <tbody>
                        {% for i in rekomendasi%}
                            <tr>
                                <td>{{i[0]}}</td>
                                <td>{{i[1]}}</td>
                                <td>{{i[2]}}</td>
                                <td><img
                                    class=""
                                    style="width:50%;"
                                    src="{{ i[3].replace('https://myanimelist.cdn-dena.com/','https://cdn.myanimelist.net/') }}"
                                    alt=""
                                  /></td>
                                <td>{{i[4]}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
              </div>
              <!-- /.row -->
        </div>
        

      </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}
